# Node modules
node_modules/
  
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Production files
/build
/dist

# Coverage directory used by testing frameworks like jest
coverage/

# Optional npm cache directory
.npm

# IDE/Editor specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json
yarn.loc